<input type="text" @bind-value="@newMessage" />
<input type="button" value="Cambiar texto" @onclick="ChangeText" />

<div>
    <p>@message</p>
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    string message = "Un contenido";
    string newMessage = string.Empty;

    protected override async Task OnInitializedAsync() 
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = newMessage;
    }
}